<!-- <div class="wrapper">
    <div class="box a">
      <a style="margin-top: 3%" class="waves-effect waves-light btn-large">Ingnieria informatica</a>
    </div>
    <div  class="box b">
        <a style="margin-top: 3%" class="waves-effect waves-light btn-large">Ingnieria de Requerimientos</a>
    </div>
    <div  class="box c">
        <a style="margin-top: 3%" class="waves-effect waves-light btn-large">Taller Mantecion de Software</a> 
    </div>
    <div  class="box d">
        <a style="margin-top: 3%" class="waves-effect waves-light btn-large">SIA I</a>
    </div>
    <div  style="margin-top: 3%" class="box d">
        <a class="waves-effect waves-light btn-large">SIA II</a>
    </div>
    <div  class="box d">
        <a style="margin-top: 3%"class="waves-effect waves-light btn-large">Arquitectura Empresarial</a>
    </div>
  </div> -->

  <div class="row">
      <div class="col s12"> 
        <h1>Seleccione Asignatura</h1>
        <hr/>
      </div>
  
      <div  class="col s12 m6 l4">
          <a href="http://127.0.0.1:3374"
           target="_blank" 
           style="margin-top: 3%; background-color: rgb(129, 0, 0);width: 100%;" 
           class="waves-effect waves-light btn-large">Ingeniería de Software</a>
      </div>
  
      <div class="col s12 m6 l4">
          <a style="margin-top: 3%; background-color: rgb(121, 0, 0);width: 100%" class="waves-effect waves-light btn-large">Asignatura 1</a>
      </div>
  
      <div class="col s12 m6 l4">
          <a style="margin-top: 3%; background-color: rgb(136, 5, 5);width: 100%" class="waves-effect waves-light btn-large">Asignatura 2</a> 
      </div>

      <div class="col s12 m6 l4">
          <a style="margin-top: 3%; background-color: rgb(136, 5, 5);width: 100%" class="waves-effect waves-light btn-large">Asignatura 3</a>
      </div>

      <div class="col s12 m6 l4">
          <a style="margin-top: 3%; background-color: rgb(136, 5, 5);width: 100%" class="waves-effect waves-light btn-large">Asignatura 4</a>
      </div>

      <div class="col s12 m6 l4">
          <a style="margin-top: 3%; background-color: rgb(136, 5, 5);width: 100%"class="waves-effect waves-light btn-large">Asignatura 5</a>
      </div>
  
    </div>